/* .panel-info .panel-heading {
    background: #002060 !important;
}

.panel-info .panel-heading a{
    color: white;
}

.panel-info .panel-heading ::after{
    color: white !important;
}

.panel.panel-info{
    border-color: #002060;
}

form label.required:after{
    color: #FF0000;
    content: " *";
}*/

.form-group:not(#infoDestinatario,#tabelaSolicitantes) {
    text-align: center;
    border: solid;
    border-color: gray;
    border-width: 1px;
}

#infoDestinatario,#tabelaSolicitantes{
    text-align: center;
}

label {
    width: 100%;
    border: solid;
    background: #DCDCDC;
    color: black;
    font-weight: bold;
    border-color: gray;
    border-width: 1px;
    margin: 0px !important;
}

[data-field-name="atxt_lembretes"] .form-control {
    height: 150px !important;
}

[data-field-name="atxt_ligacoes"] .form-control {
    height: 150px !important;
}

[data-field-name="atxt_assuntos"] .form-control {
    height: 150px !important;
} 

/* .table {
    max-width: 99% !important;
    margin-left: 0.5%;
} */